ion-card-content{
    text-align: center;
    font-family: 'Lucida sans';
}

ion-card-title {
    text-align: center;
    font-size: 18px;
    font-family: 'Lucida sans';
    padding-top: 10px;
}

ion-button{
    margin-top: 15px;
}